@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body{
  background: rgba(40 ,44, 52, 1);
}

.game{
  display: flex;
  justify-content: center;
}

.buttons{
  margin: 40px;
  text-align: center;
}

button {
  background: rgba(32, 33, 36, 1);
  width: 180px;
  margin: 10px;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  transition: .5s;
  border: 1px solid #ec1840;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button:hover {
  border: 1px solid transparent;
  background: red url(https://i.postimg.cc/wBXGXbWN/pixel.png);
  transition-delay: 0.8s;
  background-size: 180px;
  animation: animate .8s steps(8) forwards;
}


@keyframes animate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -480px;
  }
}
